
@media (max-width: 575.98px) { ... }

@media (min-width: 576px) and (max-width: 767.98px) { ... }

@media (min-width: 768px) and (max-width: 991.98px) {
	.login-box {
		height:95vh;
		align-items:center;
	}

	
	.text-input {
	}

	.date-input {
		width: 160px;
	}
	.dropdown-menu-position.show {
		/*    top: -70px !important;
        left: -90px !important;*/
		position: fixed !important;
		top: 42% !important;
		left: 84% !important;
		transform: translate(-93%, -44%) !important;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.login-box {
		height:92vh;
		align-items:center;
	}

	
}

@media (min-width: 1200px) {
	.btn-mobile {
		display: none;
	}

	.login-box {
		height: 92vh;
		align-items: center;
	}
	
}

.addBtn {
	float: left;
}