@model Onion.Infrastructure.UserDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .request-quote button, .request-quote a.button {
        padding: 5px 20px;
        background: #ef444f;
        color: #FFF;
        margin: 0px;
        border: #ef444f solid 1px;
        font-weight: 600;
        border-radius: 25px;
        line-height: 30px;
        display: inline-block;
        position: relative;
        margin-right: 5px;
        transition: ease-in-out all 1s;
        -webkit-transition: ease-in-out all 0.5s;
        -ms-transition: ease-in-out all 0.5s;
        -o-transition: ease-in-out all 0.5s;
        position: relative;
    }
    .request-quote-btn:hover {
        color:#fff;
    }
</style>

<main>
    <header class=" page-header-dark m-0">
        <div class="container-xl px-4 header-title">
            <div class="page-header-content pt-0">
                <div class="row align-items-center justify-content-between">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                        <h2 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                            Add User
                        </h2>
                    </div>

                </div>
            </div>
        </div>
    </header>


    <form asp-action="Create" asp-controller="Users" id="frmaddholiday" class="mb-3 registration" method="post">
        <section class="registration-form ">
            <div class="container">
                <div class="row">
                    <div class="card card-raised shadow-10 mt-2 mt-xl-8 mb-2">
                        <div class="card-body p-5">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-4 form-group">
                                <label asp-for="FirstName" class="form-label"></label>
                                <span class="star-validation-ddl">*</span>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="LastName" class="form-label"></label>
                                <span class="star-validation-ddl">*</span>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="MiddleName" class="form-label"></label>
                                <span class="star-validation-ddl">*</span>
                                <input asp-for="MiddleName" class="form-control" />
                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group request-quote">
                                <button class="btn request-quote-btn" type="submit" value="Create" id="btnSubmit">
                                    Submit
                                </button>
                                <a asp-controller="Users" asp-action="Index" class="btn request-quote-btn button" type="button" value="Cancel">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}